# Python
__pycache__/
*.pyc

# HTML descargados de Eadriatic
eadriatic/data/*downloaded.html

# Opcional: archivos temporales
*.log

# Batch para reparar el día anterior en Eadriatic League
repair_eadriatic.bat